* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  height: 64px;
  background-color: #fd6e0a;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
  cursor: pointer;
}
.header {
  background: #fff8f3;
  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 25px;
}

/* Header and Navigation style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 230px;
  padding: 50px 0;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}
/* Banner styles */

.banner {
  display: flex;
  align-items: center;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner-content {
  margin-left: 200px;
}
.banner-subtitle {
  font-size: 45px;
}
.banner-title {
  font-size: 85px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.banner-text {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.banner-image {
  margin-right: 35px;
}

.btn-contact {
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  margin-left: 30px;
  background: #fff8f3;
}

/* main section */
.container{
    margin: 110px 180px;
  
}
.section-container{
    background: #FFF8F3;
    padding: 100px;
    text-align: center;
    border-radius: 10px;
}
.section-title{
    font-size: 35px;
}
.section-text{
    font-size: 18px;
    color: #757575;
    margin: 30px 0;
}
.info{
  margin-right: 30px;
}
.info-container{
    display: flex;
    justify-content: space-around;
}
.info-description{
    font-weight: bold;
}
